# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Excel exports and other data outputs
*.xlsx
*.xls
*.csv

# Logs
*.log

# OS specific
.DS_Store
Thumbs.db

# IDE/editor configs
.vscode/
.idea/

# Python packaging
*.egg
*.egg-info/
dist/
build/
.eggs/

# Cache
*.cache
*.pkl
*.sqlite3

# Env
.env
# EXE ouput
main.spec
*.spec
credentials.json
response.json

scrape_test/